# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyBuilder
.pybuilder/
induction_network/ckpt_model/
induction_network/output/

# data
word_embedded/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/